.home-container {
    background-image: "";
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-box {
    padding: 2rem;
    background: #c1bfd7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .home-button {
    margin-top: 1rem;
    width: 100%;
  }
  